<!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner"> 2017 &copy; Domiit

        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->

<!-- BEGIN CORE PLUGINS -->
        <script src="{{url}}/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="{{url}}/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="{{url}}/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="{{url}}/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="{{url}}/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="{{url}}/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="{{url}}/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{{url}}/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
        <script src="{{url}}/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
        
        <script src="{{url}}/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
        <script src="{{url}}/assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
        <script src="{{url}}/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
        <script src="{{url}}/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        
        <script src="{{url}}/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
        <script src="{{url}}/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
        <script src="{{url}}/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
        
        <script src="{{url}}/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>        
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{{url}}/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{{url}}/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{{url}}/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
        <script src="{{url}}/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
        <script src="{{url}}/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="{{url}}/js/js_handler.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->        

        <!--CATEGORY SUBMISSION-->
        <script src="{{url}}/js/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
        <script src="{{url}}/js/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>        
        <script src="{{url}}/js/jquery.form.min.js" type="text/javascript"></script>
        <script src="{{url}}/js/moment.js" type="text/javascript"></script>
        <script src="{{url}}/js/socket.io.js" type="text/javascript"></script>
        <script src="{{url}}/js/sockets_fetcher.js" type="text/javascript"></script>

        <script type="text/javascript">

        function stripUnderscore(itm) {
            var item_index = itm.indexOf("_");
            if (item_index > 0) {
                var stripped_item = itm.slice(0, item_index);
            }
            return stripped_item;
        }

        function resetFields(){
                $('#question_form .form_submission_success').text("");
                $('#question_form .form_submission_error').text("");
            }



            $(document).ready(function(){
            /*show modal for answering a question*/

             /*update social buttons*/
                $('body').on('click','.post_likes,.post_shares,.post_upvotes,.post_downvotes',function(){
                    var $this=$(this);
                    var classes=$this.attr('class');
                    var classname=classes.replace('btn btn-link ','');
                    var action='';
                    var selected_ans_id=0;
                    switch(classname){
                        case 'post_likes':
                        action='likes';
                        break;
                        case 'post_shares':
                        action='shares';
                        break;
                        case 'post_upvotes':
                        action='upvotes';
                        selected_ans_id=$this.parents('.answer_votes').find('#post_answer_id').val();
                        break;
                        case 'post_downvotes':
                        action='downvotes';
                        selected_ans_id=$this.parents('.answer_votes').find('#post_answer_id').val();
                        break;
                    }


                    var selected_id=$this.parents('.posted').find('#post_id').val();
                    var selected_type=$this.parents('.posted').find('#post_type').val();

                    console.log('selected_id '+selected_id);
                    console.log('selected_type '+selected_type);
                    console.log('selected_ans_id '+selected_ans_id);

                    var my_url="{{url}}/posts/update_meta/"+selected_type+"/"+selected_id+"/"+action+"/"+selected_ans_id;

                    $.ajax({
                        url:my_url,
                        type:'POST',
                        headers:{'X-My-App-Token': 'loganstyles'},
                        success:function(response){
                            console.log(response);
                            if(response.success==true){
                                var old_val=parseInt($this.find('span.social_value').text());
                                $this.find('span.social_value').text(old_val+1);//update the page value manually
                            }
                        },
                        error:function(xhr, status, err){
                            console.log('error');
                            console.log(xhr);
                            console.log(status);
                            console.log(err);
                        }

                    });

                });


                $('body').on('click','.answer_button',function(e){
                    //e.preventDefault();

                    var $this=$(this);
                    var selected_id=$this.parents('.posted').find('#post_id').val();
                    var selected_type=$this.parents('.posted').find('#post_type').val();
                    var selected_question=($this.parents('.posted').find('.post_question').text()).trim();

                    console.log('this '+selected_id);
                    console.log('selected_type '+selected_type);
                    console.log('selected_question '+selected_question);
                    $('#section_answer_form').trigger('reset');


                    $('#section_answer_id').val(selected_id);
                    $('#section_answer_type').val(selected_type);
                    $('#section_answer_body').text(selected_question);
                    $('#section_answer_details').focus();
                    $('#section_answer_modal').modal({backdrop: false, keyboard: false});
                    
                });


                $( "#section_answer_form" ).validate( {/*validate & submit category details*/
                rules: {  
                    section_answer_details: {
                        required: true
                    }                    
                },
                messages: {                        
                    section_answer_details: {
                        required: "This field is required"
                    }
                },
                errorElement: "em",
                errorPlacement: function ( error, element ) {
                // Add the `help-block` class to the error element
                error.addClass( "help-block" );

                if ( element.prop( "type" ) === "checkbox" ) {
                    error.insertAfter( element.parent( "label" ) );
                } else {
                    error.insertAfter( element );
                }
            },
            success: function ( label, element ) {
                // Add the span element, if doesn't exists, and apply the icon classes to it.
                if ( !$( element ).next( "span" )[ 0 ] ) {
                    $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                }
            },
            highlight: function ( element, errorClass, validClass ) {
                $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
            },
            unhighlight: function (element, errorClass, validClass) {
                $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
            },

            submitHandler: function () {
                //modify button
                var sub_button=$(this).find(':submit');
                var old_button_val=sub_button.val();
                sub_button.prop('disabled', true);
                sub_button.val('...processing');

                resetFields();
                var my_url="{{url}}/answer_question";
                console.log('url: '+my_url);

                $("#section_answer_form").ajaxSubmit({
                    url:my_url,
                       contentType: 'application/json',
                       success: function(response){
                        if(response.success==true){
                                $('#section_answer_form  .form_submission_success').text(response.msg);
                                setTimeout(function(){
                                    $('#section_answer_form  .form_submission_success').text('');
                                    sub_button.val(old_button_val);
                                    sub_button.prop('disabled', false);
                                    $('#section_answer_modal').modal('hide');
                                },3000);
                                
                            }else{
                                console.log('response is false');
                                $('#section_answer_form  .form_submission_error').text(response.msg);
                                sub_button.val(old_button_val);
                                sub_button.prop('disabled', false);
                            }
                              
                       },
                       error:function(xhr, status, err){
                            console.log('error');
                            console.log(xhr);
                            console.log(status);
                            console.log(err);
                        }
                   });
                
            }
            } );
            

                $('body').on('change','.sel_cat',function(){/*get sub1s for selected cat*/
                var selected =$(this).val();
                var selected_id=$(this).attr('id');
                console.log(selected_id);
                var required_id_sub1="#"+selected_id.replace('_category','_sub1');
                var required_id_sub2="#"+selected_id.replace('_category','_sub2');
                console.log('required ids')
                console.log(required_id_sub1);
                console.log(required_id_sub2);

                /*var required_type=selected_id.replace('_category','');*/
                var required_type=stripUnderscore(selected_id);
                console.log(required_id_sub1);

                var my_url="{{url}}/cms/selected_cat/"+required_type+"/"+selected;

                    $.ajax({
                        url:my_url,
                        type:'GET',
                            headers: {'X-My-App-Token': 'loganstyles'},
                            success:function(response){
                                console.log(response);

                                $(required_id_sub1).html('');
                                $.each(response.sub1_data,function(key,value){
                                    console.log(value.title);
                                    console.log(value.value);
                                    $(required_id_sub1).append('<option value="'+value.value+'">'+value.title+'</option>');

                                });

                                $(required_id_sub2).html('');
                                $.each(response.sub2_data,function(key,value){
                                    console.log(value.title);
                                    console.log(value.value);
                                    $(required_id_sub2).append('<option value="'+value.value+'">'+value.title+'</option>');

                                });
                            },
                            error:function(xhr, status, err){
                                console.log('error');
                                console.log(xhr);
                                console.log(status);
                                console.log(err);
                            }
                        });

            });

        $('body').on('change','.sel_sub1',function(){/*get sub1s for selected cat*/
                var selected =$(this).val();
                var selected_id=$(this).attr('id');
                console.log(selected_id);
                var required_id_sub2="#"+selected_id.replace('_sub1','_sub2');

                var required_type=selected_id.replace('_sub1','');
                console.log(required_id_sub2);

                var my_url="{{url}}/cms/selected_sub1/"+required_type+"/"+selected;

                    $.ajax({
                        url:my_url,
                        type:'GET',
                            headers: {'X-My-App-Token': 'loganstyles'},
                            success:function(response){
                                console.log(response);

                                $(required_id_sub2).html('');
                                $.each(response.sub2_data,function(key,value){
                                    console.log(value.title);
                                    console.log(value.value);
                                    $(required_id_sub2).append('<option value="'+value.value+'">'+value.title+'</option>');

                                });
                            },
                            error:function(xhr, status, err){
                                console.log('error');
                                console.log(xhr);
                                console.log(status);
                                console.log(err);
                            }
                        });

            });

            })

        </script>

        


