<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>domiit | Admin - {{title}} </title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{{url}}/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="{{url}}/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="{{url}}/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{url}}/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->        
        <link href="{{url}}/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />        
        <link href="{{url}}/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
        <link href="{{url}}/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
        <!--<link href="assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />-->
        
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{{url}}/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{{url}}/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
        <link href="{{url}}/assets/global/css/styles.css" rel="stylesheet" type="text/css" />
        
        <!-- END THEME GLOBAL STYLES -->
       
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{{url}}/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="{{url}}/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="{{url}}/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->

        <link rel="shortcut icon" href="assets/pages/img/favicon.ico'" /> 

        <style type="text/css">
        /*form submission*/
            .form_submission_error{
                color:#f00;    
            }

            .form_submission_success{
                color:#26C281;    
            }
                </style>
    </head>
    <!-- END HEAD -->

    
    
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-content-white page-md">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="{{url}}/admin">
                        <img src="{{url}}/images/domiit_logo_150.png" alt="logo" class="logo-default" /> </a>
                    <div class="menu-toggler sidebar-toggler">
                        <span></span>
                    </div>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span></span>
                </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- BEGIN NOTIFICATION DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                        </li>
                        <!-- END NOTIFICATION DROPDOWN -->
                        <!-- BEGIN INBOX DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">

                        </li>
                        <!-- END INBOX DROPDOWN -->
                        <!-- BEGIN TODO DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-extended dropdown-tasks" id="header_task_bar">

                        </li>
                        <!-- END TODO DROPDOWN -->
                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-user">
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                        <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-quick-sidebar-toggler">
                            <a href="{{url}}/members/logout" class="dropdown-toggle">
                                <i class="icon-logout"></i>
                                Log Out
                            </a>
                        </li>
                        <!-- END QUICK SIDEBAR TOGGLER -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <!-- BEGIN SIDEBAR -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN SIDEBAR MENU -->
                    
                    <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                        <li class="sidebar-toggler-wrapper hide">
                            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                            <div class="sidebar-toggler">
                                <span></span>
                            </div>
                            <!-- END SIDEBAR TOGGLER BUTTON -->
                        </li>
                        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
                        <li class="sidebar-search-wrapper">
                            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                           
                            <!-- <form class="sidebar-search" action="#" method="POST">
                                <a href="javascript:;" class="remove">
                                    <i class="icon-close"></i>
                                </a>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <a href="javascript:;" class="btn submit">
                                            <i class="icon-magnifier"></i>
                                        </a>
                                    </span>
                                </div>
                            </form> -->
                            <!-- END RESPONSIVE QUICK SEARCH FORM -->
                        </li>
                        <li class="nav-item start {{#if about_status}}active open{{/if}}">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-home"></i>
                                <span class="title">Dashboard</span>
                                
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item {{#if about_home_status}}active open{{/if}} ">
                                    <a href="#" class="nav-link ">
                                        <i class="icon-bar-chart"></i>
                                        <span class="title">Home</span>
                                    </a>
                                </li>
                                <li class="nav-item {{#if about_overview_status}}active open{{/if}} ">
                                    <a href="{{url}}/cms/about/overview" class="nav-link ">
                                        <i class="fa fa-info"></i>
                                        <span class="title">Overview</span>
                                    </a>
                                </li>
                                <!-- <li class="nav-item {{#if about_who_status}}active open{{/if}} ">
                                    <a href="{{url}}/cms/about/who" class="nav-link ">
                                        <i class="fa fa-info"></i>
                                        <span class="title">Who We Are</span>
                                    </a>
                                </li> -->
                                <!-- <li class="nav-item {{#if about_how_status}}active open{{/if}} ">
                                    <a href="{{url}}/cms/about/how" class="nav-link ">
                                        <i class="fa fa-info"></i>
                                        <span class="title">How It Works</span>
                                    </a>
                                </li> -->
                            </ul>
                        </li>
                        <li class="heading">
                            <h3 class="uppercase"></h3>
                        </li>
                        <li class="nav-item  {{#if quest_status}}active open{{/if}}">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-comments-o"></i>
                                <span class="title">Questions & Answers</span>
                                <!-- <span class="selected"></span> -->
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  {{#if quest_cat_status}}active open{{/if}}">
                                    <a href="{{url}}/cms/main/quest_cat" class="nav-link ">
                                        <span class="title">Categories</span>
                                    </a>
                                </li>
                                
                                
                            </ul>
                        </li>

                        <li class="nav-item  {{#if article_status}}active open{{/if}}">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-edit"></i>
                                <span class="title">Articles & Reviews</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  {{#if article_cat_status}}active open{{/if}}">
                                    <a href="{{url}}/cms/main/article_cat" class="nav-link ">
                                        <span class="title">Categories</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item  {{#if riddle_status}}active open{{/if}}">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-edit"></i>
                                <span class="title">Riddles & Solutions</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  {{#if riddle_cat_status}}active open{{/if}}">
                                    <a href="{{url}}/cms/main/riddle_cat" class="nav-link ">
                                        <span class="title">Categories</span>
                                    </a>
                                </li>                                
                            </ul>
                        </li>

                        <li class="nav-item  {{#if pab_status}}active open{{/if}}">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-edit"></i>
                                <span class="title">Post A Book</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  {{#if pab_cat_status}}active open{{/if}}">
                                    <a href="{{url}}/cms/main/pab_cat" class="nav-link ">
                                        <span class="title">Categories</span>
                                    </a>
                                </li>                                
                            </ul>
                        </li>

                        <!-- <li class="nav-item  {{#if notice_status}}active open{{/if}}">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-edit"></i>
                                <span class="title">Notice Board</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  {{#if notice_cat_status}}active open{{/if}}">
                                    <a href="{{url}}/cms/main/notice_cat" class="nav-link ">
                                        <span class="title">Categories</span>
                                    </a>
                                </li>                                
                            </ul>
                        </li> -->

                        <li class="nav-item  {{#if trend_status}}active open{{/if}}">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-edit"></i>
                                <span class="title">Trending</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  {{#if trend_cat_status}}active open{{/if}}">
                                    <a href="{{url}}/cms/main/trend_cat" class="nav-link ">
                                        <span class="title">Categories</span>
                                    </a>
                                </li>
                                <li class="nav-item  {{#if trend_story_status}}active open{{/if}}">
                                    <a href="{{url}}/cms/main/trend" class="nav-link ">
                                        <span class="title">Stories</span>
                                    </a>
                                </li>                                
                            </ul>
                        </li>
                        
                    </ul>
                    <!-- END SIDEBAR MENU -->
                    <!-- END SIDEBAR MENU -->
                </div>
                <!-- END SIDEBAR -->
            </div>
            <!-- END SIDEBAR -->  