<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>domiit | Members - {{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->        
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="{{url}}/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="{{url}}/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="{{url}}/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{url}}/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="{{url}}/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="{{url}}/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <link href="{{url}}/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
    <link href="{{url}}/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
    <link href="{{url}}/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="{{url}}/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="{{url}}/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    <link href="{{url}}/assets/global/css/styles.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->        
    <link href="{{url}}/assets/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="{{url}}/assets/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="{{url}}/assets/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="{{url}}/assets/pages/img/favicon.ico'" /> 
    <style type="text/css">
        /*form submission*/
        .form_submission_error{
            color:#f00;    
        }

        .form_submission_success{
            color:#26C281;    
        }
    </style>
</head>
<!-- END HEAD -->

<body class="page-container-bg-solid page-md">
    <!-- BEGIN HEADER -->
    <div class="page-header">
        <!-- BEGIN HEADER TOP -->
        <div class="page-header-top" style="background-color: #000;">
            <div class="container" style="padding-top: 2%;">
                <!-- BEGIN LOGO -->
                <div class="col-md-2">
                    <a href="{{url}}/dashboard">
                        <img src="{{url}}/images/domiit_logo_150.png" alt="logo" class="logo-default">
                    </a>
                </div>
                <!-- END LOGO -->
                <div class="col-md-4">
                    <!-- BEGIN HEADER SEARCH BOX -->
                    <form class="search-form" action="#" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="query">
                            <span class="input-group-btn">
                                <a href="javascript:;" class="btn submit" style="background: #86be25;color: #fff;">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
                        </div>
                    </form>
                    <!-- END HEADER SEARCH BOX -->
                </div>
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler"></a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu col-md-5 pull-left" style="">
                    <ul class="nav navbar-nav pull-right">
                        <!-- BEGIN NOTIFICATION DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                            <a href="javascript:;" class="dropdown-toggle swap_icons" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                               
                                <span>
                                    <img alt="" class="icon_size" src="{{url}}/images/advert_white.png">
                                    <img alt="" class="icon_size" src="{{url}}/images/advert_white.png">
                                </span>
                                    <!-- <span class="badge badge-default " style="right: -5px;">7</span> -->
                            </a>
                            <ul class="dropdown-menu">
                            <li class="external">
                                        <h3>Adverts
                                            <strong>(0)</strong> </h3>
                                        <!-- <a href="#">view all</a> -->
                                    </li>
                               
                                <li>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_category_bar">
                            <a href="javascript:;" class="dropdown-toggle swap_icons" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                               
                                <span>
                                    <img alt="" class="icon_size" src="{{url}}/images/categories_white.png">
                                    <img alt="" class="icon_size" src="{{url}}/images/categories_white.png">
                                </span>
                                    <!-- <span class="badge badge-default " style="right: -5px;">12</span> -->
                            </a>
                            <ul class="dropdown-menu">
                            <li class="external">
                                        <h3>Categories
                                            <strong>(0)</strong> </h3>
                                        <!-- <a href="#">view all</a> -->
                                    </li>
                               
                                <li>
                                   
                                </li>
                            </ul>
                        </li>                                              

                        <!-- END NOTIFICATION DROPDOWN -->
                        <!-- BEGIN INBOX DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li style="padding-left: 20px;" class="dropdown dropdown-extended dropdown-inbox dropdown-dark" id="header_inbox_bar" >
                            <a href="javascript:;" class="dropdown-toggle swap_icons" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <span>
                                    <img alt="" class="icon_size" src="{{url}}/images/messages_white.png">
                                    <img alt="" class="icon_size" src="{{url}}/images/messages_white.png">
                                </span>
                                    <span class="badge badge-default " style="right: -5px;">23</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="external">
                                    <h3>Messages
                                        <span class="bold">(23)</span></h3>
                                    <a href="#">view all</a>
                                </li>
                                <li>
                                    <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                                       
                                        <li>
                                            <a href="javascript:;">
                                                <span class="time">just now</span>
                                                <span class="details">
                                                    <span class="label label-sm label-icon label-success">
                                                        <i class="fa fa-plus"></i>
                                                    </span> My iphone launch </span>
                                            </a>
                                            </li>
                                             <li>
                                                <a href="javascript:;">
                                                    <span class="time">2 mins ago</span>
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-success">
                                                            <i class="fa fa-plus"></i>
                                                        </span> Brand new shirts </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="time">1 hour ago</span>
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-success">
                                                            <i class="fa fa-plus"></i>
                                                        </span> Buy a house this december </span>
                                                </a>
                                            </li>
                                        
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li style="padding-left: 10px;" class="dropdown dropdown-extended dropdown-inbox dropdown-dark" id="header_notification_bar">
                            <a href="javascript:;" class="dropdown-toggle swap_icons" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span>
                                    <img alt="" class="icon_size" src="{{url}}/images/notification_white.png">
                                    <img alt="" class="icon_size" src="{{url}}/images/notification.png">
                                </span>

                                    <!-- <span class="badge badge-default " style="right: -5px;">23</span> -->
                            </a>
                            <ul class="dropdown-menu">
                                <li class="external">
                                    <h3>Notifications
                                        <span class="bold">(0)</span></h3>
                                    <!-- <a href="#">view all</a> -->
                                </li>
                                <li>
                                   
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown dropdown-extended dropdown-inbox dropdown-dark" id="header_friends_bar">
                            <a href="javascript:;" class="dropdown-toggle swap_icons" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">

                            <span>
                                    <img alt="" class="icon_size" src="{{url}}/images/friends_white.png">
                                    <img alt="" class="icon_size" src="{{url}}/images/friends.png">
                                </span>

                                <!-- <span class="badge badge-default " style="right: -5px;">3</span> -->
                            </a>
                            <ul class="dropdown-menu">
                                <li class="external">
                                    <h3>Friends
                                        <span class="bold">(0)</span></h3>
                                    <!-- <a href="#">view all</a> -->
                                </li>
                                <li>
                                    
                                </li>
                            </ul>
                        </li>
                        
                        <li style="padding-left: 10px;" class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_profile">
                        
                                <a href="javascript:;" class="dropdown-toggle swap_icons" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">

                                 <!-- <span><img alt="" class="img-circle" src="{{url}}/images/user_profile.png"></span> -->

                                 <span>
                                    <img alt="" class="icon_size" src="{{url}}/images/user_profile_white.png">
                                    <img alt="" class="icon_size" src="{{url}}/images/user_profile.png">
                                </span>

                                    <span class="username username-hide-mobile">{{user_info.displayName}}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    
                                    <li>
                                        <ul class="dropdown-menu-list " style="height: 110px;" data-handle-color="#637283">
                                            <li>
                                            <a href="{{url}}/profile">
                                                <i class="icon-user"></i> My Profile </a>
                                        </li>
                                            <li>
                                            <a href="{{url}}/members/logout">
                                                <i class="icon-key"></i> Log Out </a>
                                        </li>
                                            
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        <!-- END USER LOGIN DROPDOWN -->                       
                    </ul>

                </div>


                            <!-- END TOP NAVIGATION MENU -->
            </div>
        </div>
                    <!-- END HEADER TOP -->
                    <!-- BEGIN HEADER MENU -->
        <div class="page-header-menu" style="background-color: #fff;">
            <div class="container">

                <!-- BEGIN MEGA MENU -->
                <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
                <div class="hor-menu  ">
                    <ul class="nav navbar-nav">
                        <li class="menu-dropdown classic-menu-dropdown {{#if home_status}}active{{/if}}">
                            <a href="{{url}}/dashboard"> 
                                <div style="margin-left: 30%;"><img alt="" class="" src="{{url}}/images/home.png"></div>
                                <div style="color:#000;">Home</div>
                                <span class="arrow"></span>
                            </a>
                        </li>
                        

                    </ul>
                </div>

                <div class="hor-menu  pull-right">
                    <ul class="nav navbar-nav">
                        
                        <li class="menu-dropdown classic-menu-dropdown  {{#if quest_status}}active{{/if}}">

                            <a href="javascript:;" class="swap_icons">
                                <div style="margin-left: 30%;">
                                <img alt="" class="icon_size" src="{{url}}/images/Question_and_Answer.png">
                                <img alt="" class="icon_size" src="{{url}}/images/Question_and_Answer_white.png"></div>
                                    <div>Questions & Answers</div>
                                    <span class="arrow"></span>
                            </a>
                            <ul class="dropdown-menu pull-left">
                                <li>
                                    <a href="{{url}}/posts/section/question/All/0"> All </a>
                                </li>
                                <li>
                                    <a href="{{url}}/posts/section/question/Unanswered/0"> Unanswered Questions </a>
                                </li>
                                <li>
                                    <a href="{{url}}/posts/section/question/Answered/0"> Answered Questions </a>
                                </li>
                            </ul>

                        </li>
                        <li class="menu-dropdown classic-menu-dropdown ">
                            <a href="javascript:;" class="swap_icons">
                                <div style="margin-left: 30%;">
                                <img alt="" class="icon_size" src="{{url}}/images/articles_icon.png">
                                <img alt="" class="icon_size" src="{{url}}/images/articles_icon.png">
                                </div>
                                <!-- <img alt="" class="icon_size" src="{{url}}/images/Question_and_Answer.png">
                                <img alt="" class="icon_size" src="{{url}}/images/Question_and_Answer_white.png"> -->

                                <!-- <img alt="" class="" src="{{url}}/images/articles_icon.png"></div> -->
                                <div> Articles & Reviews</div>
                                <span class="arrow"></span>
                            </a>
                            <ul class="dropdown-menu pull-left">
                                <li class=" ">
                                    <a href="#" class="nav-link  "> All </a>
                                </li>
                                <li class=" ">
                                    <a href="#" class="nav-link  "> Unreviewed Articles </a>
                                </li>
                                <li class=" ">
                                    <a href="#" class="nav-link  "> Reviewed Articles </a>
                                </li>

                            </ul>
                        </li>
                        <li class="menu-dropdown classic-menu-dropdown  ">

                            <a href="javascript:;" class="swap_icons">
                                <div style="margin-left: 30%;">
                                <img alt="" class="icon_size" src="{{url}}/images/riddles_solutions.png">
                                <img alt="" class="icon_size" src="{{url}}/images/riddles_solutions_white.png"></div>
                                    <div>Riddles & Solutions</div>
                                    <span class="arrow"></span>
                            </a>
                            <ul class="dropdown-menu pull-left">
                                <li class=" ">
                                    <a href="#" class="nav-link  "> All </a>
                                </li>
                                <li class=" ">
                                    <a href="#" class="nav-link  "> Unresolved Riddles </a>
                                </li>
                                <li class=" ">
                                    <a href="#" class="nav-link  "> Solved Riddles </a>
                                </li>

                            </ul>

                        </li>
                        

                        <li class="menu-dropdown classic-menu-dropdown ">
                            <a href="javascript:;">
                                <div style="margin-left: 30%;"><img alt="" class="" src="{{url}}/images/books.png"></div>
                                <div> Posted Books</div>

                                <span class="arrow"></span>
                            </a>                                
                        </li>
                        <li class="menu-dropdown classic-menu-dropdown ">
                            <a href="javascript:;">
                                <div style="margin-left: 30%;"><img alt="" class="" src="{{url}}/images/request_icon.png"></div>
                                <div> Requests</div>
                                <span class="arrow"></span>
                            </a>
                            <ul class="dropdown-menu pull-left">
                                <li class=" ">
                                    <a href="#" class="nav-link  "> Requests For Answers </a>
                                </li>
                                <li class=" ">
                                    <a href="#" class="nav-link  "> Requests For Review </a>
                                </li>
                                <li class=" ">
                                    <a href="#" class="nav-link  "> Requests For Solutions</a>
                                </li>

                            </ul>
                        </li>
                                               
                         <li class="menu-dropdown classic-menu-dropdown ">

                            <a href="javascript:;" class="swap_icons">
                                <div style="margin-left: 30%;">
                                <img alt="" class="icon_size" src="{{url}}/images/notice_board.png">
                                <img alt="" class="icon_size" src="{{url}}/images/notice_board_white.png"></div>
                                    <div>Notice Board</div>
                                    <span class="arrow"></span>
                            </a>                            

                        </li>

                        <li class="menu-dropdown classic-menu-dropdown ">

                            <a href="javascript:;" class="swap_icons">
                                <div style="margin-left: 30%;">
                                <img alt="" class="icon_size" src="{{url}}/images/user_group.png">
                                <img alt="" class="icon_size" src="{{url}}/images/user_group_white.png"></div>
                                    <div>User Groups</div>
                                    <span class="arrow"></span>
                            </a>                            

                        </li>

                    </ul>
                </div>
                    <!-- END MEGA MENU -->
                    <div class="clearfix"></div>
            </div>
        </div>
            <!-- END HEADER MENU -->
    </div>
        <!-- END HEADER -->

