<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="domiit">
    <meta name="author" content="domiit">
    

    <title>domiit | Members - {{title}}</title>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->        
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="{{url}}/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <link href="{{url}}/assets/global/css/Normalize.css" rel="stylesheet" type="text/css" />

    <link href="{{url}}/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap core CSS -->
    <link href="{{url}}/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="{{url}}/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="{{url}}/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="{{url}}/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <link href="{{url}}/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
    <link href="{{url}}/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
    <link href="{{url}}/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="{{url}}/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="{{url}}/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    <link href="{{url}}/assets/global/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="{{url}}/assets/global/css/nav_styles.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->

    <!-- BEGIN THEME LAYOUT STYLES -->        
    <link href="{{url}}/assets/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="{{url}}/assets/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="{{url}}/assets/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->

    <link rel="icon" href="{{url}}/assets/pages/img/favicon.ico">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{url}}/assets/global/plugins/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url}}/assets/global/plugins/bootstrap/css/navbar-fixed-top.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{url}}/assets/global/scripts/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        /*form submission*/
        .form_submission_error{
            color:#f00;    
        }

        .form_submission_success{
            color:#26C281;    
        }
    </style>
  </head>

  <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #000;">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" style="background-color: #fff;" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url}}/dashboard">
          <img class="domiit_logo" src="{{url}}/images/domiit_logo_150.png" alt="domiit logo" class="logo-default">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        

          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home</a></li> -->
            <li>
            <!-- BEGIN HEADER SEARCH BOX -->
            
            <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Search" id="dom_search_button" style="" class="form-control">
            </div>
            
            <button type="submit" class="btn btn-success" style="background: #86be25;color: #fff;"><i class="icon-magnifier"></i></button>
          </form>
                  <!-- END HEADER SEARCH BOX -->

            </li>
            <li><a href="javascript:;">
              <div style="width: 100%;">
                <i class="fa fa-bullhorn font_icon_style">
                  <!-- <span class="badge badge-default ">0</span> -->
                </i>
              </div>                    
              <div style="">Adverts</div>

            </a>
          </li>
          <li><a href="javascript:;">
              <div style="width: 100%;">
                <i class="icon-list font_icon_style">
                  <!-- <span class="badge badge-default ">0</span> -->
                </i>
              </div>                    
              <div style="">Categories</div>

            </a>
          </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:;">
              <div style="width: 100%;">
                <i class="icon-envelope font_icon_style">
                  <!-- <span class="badge badge-default ">0</span> -->
                </i>
              </div>                    
              <div style="">Messages</div>

            </a>
          </li>
            
            <li><a href="javascript:;">
              <div style="width: 100%;">
                <i class="icon-bell font_icon_style">
                  <!-- <span class="badge badge-default ">0</span> -->
                </i>
              </div>                    
              <div style="">Notifications</div>

            </a>
          </li>

          <li><a href="{{url}}/getFriendRequests">
              <div style="width: 100%;">
                <i class="icon-users font_icon_style">

                    {{#if (gt pending_friend_notifs 0)}}
                      <span class="badge badge-default ">{{pending_friend_notifs}}</span>
                    {{/if}}
                    </i>
              </div>                    
              <div style="">Friends</div>

            </a>
          </li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

              <div style="width: 100%;">
                <div style="width: 50%;margin:0 auto;">
                    <img alt="" class="icon_size_25 img-circle" src="{{url}}/uploads/{{displayPic}}" >
                    </div>
              </div>                    
              <div style="text-transform: capitalize;">{{user_info.displayName}}</div>

              </a>
              <ul class="dropdown-menu">
                <li><a href="{{url}}/profile">
                    <i class="icon-user"></i> My Profile</a></li>
                    <li><a href="{{url}}/members/logout">
                    <i class="icon-key"></i> Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Project name</a> -->
        </div>
        <div id="navbar1" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home2</a></li> -->
            <li class="nav_button_spacing {{#if home_status}}active{{/if}}">
            <a href="{{url}}/dashboard">
              <div style="width: 100%;">
                <div class="icon_centralise">
                  <img alt="" class="icon_size" src="{{url}}/images/home_white.png">
                </div>

              </div>
              <div class="">Home</div>
            </a>
          </li>
          <!-- <li><a href="#contact">Contact2</a></li> -->
          <li class="nav_button_spacing dropdown {{#if quest_status}}active{{/if}}">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <div style="width: 100%;">
                <div class="icon_centralise">
                  <img alt="" class="icon_size" src="{{url}}/images/Question_and_Answer_white.png">
                </div>

              </div>
              <div class="">Questions & Answers</div>

            </a>
            <ul class="dropdown-menu">
              <li><a href="{{url}}/posts/section/question/All/0">All</a></li>
              <li>
                <a href="{{url}}/posts/section/question/Unanswered/0">Unanswered Questions</a></li>
                <li>
                  <a href="{{url}}/posts/section/question/Answered/0">Answered Questions</a></li>

                </ul>
              </li>

              <li class="dropdown nav_button_spacing {{#if art_status}}active{{/if}}">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <div style="width: 100%;">
                    <div class="icon_centralise">
                      <img alt="" class="icon_size" src="{{url}}/images/articles_icon.png">
                    </div>

                  </div>
                  <div class="">Articles & Reviews</div>

                </a>
                <ul class="dropdown-menu">
                  <li><a href="{{url}}/posts/section/article/All/0">All</a></li>
                  <li>
                    <a href="{{url}}/posts/section/article/Unreviewed/0">Unreviewed Articles </a></li>
                    <li>
                      <a href="{{url}}/posts/section/article/Reviewed/0">Reviewed Articles</a></li>

                    </ul>
                  </li>

                  <li class="dropdown nav_button_spacing {{#if riddle_status}}active{{/if}}">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <div style="width: 100%;">
                        <div class="icon_centralise">
                          <img alt="" class="icon_size" src="{{url}}/images/riddles_solutions_white.png">
                        </div>

                      </div>
                      <div class="">Riddles & Solutions</div>

                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="{{url}}/posts/section/riddle/All/0">All</a></li>
                      <li>
                        <a href="{{url}}/posts/section/riddle/Unresolved/0">Unresolved Riddles </a></li>
                        <li>
                          <a href="{{url}}/posts/section/riddle/Solved/0">Solved Riddles</a></li>

                        </ul>
                      </li>

                      <li class="dropdown nav_button_spacing {{#if pab_status}}active{{/if}}">
                        <a href="{{url}}/posts/section/pab/All/0" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <div style="width: 100%;">
                            <div class="icon_centralise">
                              <img alt="" class="icon_size" src="{{url}}/images/books_white.png">
                            </div>

                          </div>
                          <div class="">Posted Books</div>

                        </a>

                      </li>

                      <li class="dropdown nav_button_spacing {{#if request_status}}active{{/if}}">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <div style="width: 100%;">
                            <div class="icon_centralise">
                              <i class="fa fa-share-square font_icon_style_leftbar"></i>
                            </div>

                          </div>
                          <div class="">Requests</div>

                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="javascript:;">Requests For Answers</a></li>
                          <li>
                            <a href="javascript:;">Requests For Review </a></li>
                            <li>
                              <a href="javascript:;">Requests For Solutions</a></li>

                            </ul>
                          </li>

                          <li class="dropdown nav_button_spacing {{#if notice_status}}active{{/if}}">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              <div style="width: 100%;">
                                <div class="icon_centralise">
                                  <img alt="" class="icon_size" src="{{url}}/images/notice_board_white.png">
                                </div>

                              </div>
                              <div class="">Notice Board</div>

                            </a>
                            <ul class="dropdown-menu">
                              <li><a onclick="modalLoader('notice','new','');">Post a Notifications</a></li>
                              <li>
                                <a href="{{url}}/posts/section/notice/All/0">View other Notifications</a></li>

                              </ul>
                            </li>

                            <li class="dropdown nav_button_spacing {{#if usergroup_status}}active{{/if}}">
                              <a href="{{url}}/posts/section/pab/All/0" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <div style="width: 100%;">
                                  <div class="icon_centralise">
                                    <img alt="" class="icon_size" src="{{url}}/images/user_group_white.png">
                                  </div>

                                </div>
                                <div>User Groups</div>

                              </a>

                            </li>

                          </ul>
          
        </div><!--/.nav-collapse -->
      </div>
    </nav>